<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Парковочная система</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <header>
        <img src="../static/images/images.png" alt="Logo" class="logo">
        <ul>
            <li><a href="/login">Войти</a></li>
            <li><a href="/register">Регистрация</a></li>
        </ul>
    </header>
    <main class="main-container">
        <section>
            <h1>Добро пожаловать в Парковочную Систему</h1>
            <p>Легкое и быстрое бронирование парковочных мест.</p>
            <a href="/dashboard" class="button-primary">Перейти в панель</a>
        </section>
    </main>
    <footer class="footer">
        &copy; 2024 Парковочная Система
    </footer>
</body>
</html>
